.shadow-purple {
  box-shadow: 0px 8px 32px rgba(70, 0, 191, 0.08);
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
}

.text-gray {
  color: $gray-500;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.p-075 {
  padding: 0.75rem;
}
