/**
  * Button styles.
  */
button.btn,
a.btn {
  &:not(.btn-sm) {
    @extend .font-h5;
  }

  &.btn-sm {
    @extend .font-h6;
  }
}

button.btn.btn-clipboard,
a.btn.btn-clipboard {
  padding: 0;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 2rem;
  height: 2rem;
  border: none;
}

.btn-spinner {
  margin-bottom: 2px;
  margin-left: 4px;
}
