/**
  * Data input box styles.
  */

.file-dropbox {
  border: $border-width dashed $primary;
  border-radius: $border-radius;
  position: relative;
  cursor: pointer;
  height: 250px;
  padding: 40px;

  .file-dropbox-text {
    margin-top: 21px;

    span {
      color: $primary;
      font-weight: 700;
    }
  }

  .input-file {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
  }

  &:hover {
    background-color: $primary-transparent;

    .file-dropbox-text {
      span {
        opacity: 0.8;
      }
    }
  }

  &.not-allowed {
    background-color: $gray-200 !important;
  }
}

.overview-card {
  padding: 1rem;
  margin: 0 auto 3rem;
  max-width: 530px;

  .label {
    color: $gray-500;
    display: block;
    font-size: 0.875rem;
    line-height: 1;
  }

  p {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    word-break: break-word;
    word-wrap: break-word;
  }
}
